html{
  background-color: rgba(247, 237, 224, .40);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  height: 100vh;
  width: 100%;
  /*background-color: rgba(247, 237, 224, .40);*/
}

.navbar {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contLogo {
  height: 100%;
  /* juste pour aligner le logo */
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo {
  margin-left: 80px;
  width: 140px;
}

.contItems {
  font-size: 22px;
  height: 100%;
  display: flex;
  align-items: center;
}

.items {
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.items:hover {
  color: #e74bf5;
}


.logoMenuImg {
  width: 30px;
  display: none;
  position: absolute;
  right: 20px;
  top: 13px;

}

/* début page index */

.main-title{
  height: 10em;
  width: 100%;
  background: url('../img/vegetables.jpg') fixed center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-main-box {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.main-parag-left{
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2em;
  width: 70%;
  align-self: start;
}

.main-parag-right{
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2em;
  width: 30%;
  align-self: start;
}
.main-image {
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

.main-parag-left-text {
  min-width: 70%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-parag-right-text {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 232, 247);
  border-radius: 10px;
  border: 1px solid #DDD;
}

.main-parag2 {
  text-align: center;
}

.main-parag-text-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.footer {
  height: 80px;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #FFF;
}

/* Début page contact*/

.carousel {
  background: url('../img/agrumes.jpg') fixed center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 100%;
}

.bloctext{
  margin: 0 auto;
}

.img{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
}

.femme {
  -webkit-border-radius: 40%;
  border-radius: 40%;
}


.carteggle iframe{
  height: 20vw;
  display: block;
  margin: 0 auto;
  width: 80%;
}

.carteggle{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.txt1 {
  background-color: rgba(128, 128, 128, 10%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, 500px);
  grid-gap: 10px;
}

input[type=text],
textarea,
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

input[type=submit] {
  background-color: #1255a2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1872D9;
}


.container {
  box-sizing: border-box;
  border-radius: 5px; 
  padding: 20px;
  width: 100%;
  max-height: 600px;
  max-width: 600px;
  margin: 0 auto;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;

}

.container h1 {
  color: #ffc800;
  width: 100%;
}

.openingTime {
  margin-top: 5em;
  border: 0.14em solid black;
  border-radius: 20px;
}

.openingTime>p {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.openingTime-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.openingTime-title p {
  margin: 0em;
}

.hours {
  margin-bottom: 16px;
}

.hours p:not(.sunday) {
  text-align: right;
}

.hours .sunday {
  text-align: center;
}

.cRed {
  color: rgba(255, 0, 0, 0.733);
}

/* Fin page Contact */

/* Début page présentation*/

.container-presentation {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 50px auto;
}

.txtpresentation {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.container-pres{
  width: 80%;
  display: flex;
  margin: 50px auto;
}


.gauche{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

.card {
  width: 400px; /*1*/
  margin: 0px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 5px 20px #999; /*4*/
  display: block;
  border-radius: 20%;
}
.card-image {
  height: 250px;/*1*/
  position: relative;/*2*/
  overflow: hidden;/*3*/
  border-radius: 20% 20% 0 0;
}
.card-image img {
  width: 150%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.card-body {
  text-align:center;  /*1*/
padding: 15px 20px; /*2*/
box-sizing: border-box; /*3*/
border-radius: 20%;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 800px;
}


.image_presentation {
  height: 25em;
  width: 100%;
  background: url('../img/vegetables.jpg') fixed center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  text-align: left;
}
/* début page Méthodes */

.methode-title{
  height: 10em;
  width: 100%;
  background: url('../img/vegetables.jpg') fixed center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.methode-main-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.methode-parag {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2em;
}

.methode-image {
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

#img1 {
  background-image: url('../img/casserole.jpg');
}

#img2 {
  background-image: url('../img/vegetables-2.jpg');
}

#img3 {
  background-image: url('../img/vegetables.jpg');
}

.methode-parag-text {
  min-width: 60%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.methode-parag-text-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.next-button {
  background-color: rgb(136, 103, 59);
  border-radius: 40px;
  font-size: 2rem;
  padding: 1em 2em 1em 2em;
  margin-bottom: 1em;
}

.next-button:hover {
  transform: scale(1.2, 1.2);
}

.next-sentence {
  font-size: 2rem;
}

.savoir-plus {
  padding: 10px;
}

.competence-button {
  background-color: rgb(136, 103, 59);
  border-radius: 10px;
  padding: 1em;
  display: inline;
}

.methode-button-plus {
  background-color: rgb(136, 103, 59);
  border-radius: 10px;
  align-self: flex-end;
}

.methode-button-plus:hover {
  transform: scale(1.2, 1.2);
}

a {
  text-decoration: none;
  color:black;
}

.separation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8em;
  width: 80%;
  margin: 2em;
}

.pepper-img {
  height: auto;
}

.pepper-img img {
  height: 4em;
}

/* fin page Méthodes */



/* début page Tarifs */

.tarif-title {
  height: 10em;
  width: 100%;
  background: url('../img/vegetables.jpg') fixed center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarif-main-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.tarif-all-subscription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 100%;
}

.tarif-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: auto;
  padding: 2em;
  border: 2px solid black;
  background-color: rgb(228, 236, 218);
  border-radius: 20px;
  margin: 0.5em;
}

.tarif-month {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 0em;
}

.tarif-subscription>p {
  line-height: 0em;
}

.tarif-no-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: auto;
  border: 2px solid black;
  background-color: rgb(244, 232, 247);
  border-radius: 20px;
  padding: 1em;
}

/* fin page Tarifs */



/*  début media queries*/
@media screen and (max-width: 834px) {

  /* on fait apparaitre le logo */
  .logoMenuImg {
    display: block;
  }

  /* pour ne plus display flex les éléments */
  .navbar {
    display: block;
  }

  .items:nth-child(1) {
    padding-top: 20px;
  }

  .items {
    background: #eee;
    margin-right: 0;
    padding: 10px 20px;
    display: block;
  }

  .contItems {
    display: none;
    border-top: 1px solid black;
  }


  /* Classe à toggle */
  .responsive {
    display: block;
  }

  .methode-image {
    display: none;
  }

  .methode-button-plus {
    display: none;
  }

  .parag-text-par {
    font-size: 0.7em;
  }

  h2 {
    font-size: 1em;
  }

  .index-main-box {
    width: 100%;
    flex-direction: column;
  }

  .main-parag-left{
    margin: 0 auto;
    width: 95%;
  }
  .main-parag-right{
    margin: 0 auto;
    width: 95%;
    height: auto;
  }

  .main-parag-left-text {
    padding: 0
  }

  .main-parag-right-text {
    padding: 5px;
  }

  .main-parag2 {
    margin: 0 auto;
  }
  
  .methode-main-box {
    width: 100%;
  }

  .methode-parag {
    margin: 0 auto;
  }

  .methode-parag-text {
    padding: 0
  }

  .next-sentence {
    font-size: 1.2rem;
  }

  .next-button {
    background-color: rgb(247,237,224);
    border-radius: 20px;
    font-size: 1.2rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .pepper-img img {
    height: 2em;
  }

  .separation {
    height: 2em;
    width: 80%;
    margin: 0;
  }

  /* debut page contact */

  .txt1 {
      background-color: rgba(128, 128, 128, 10%);
      margin-left: auto;
      margin-right: auto;
      margin-top: 3vw;
      width: 90%;
      display: flex;
      flex-direction: column;
    }

    .container {
      box-sizing: border-box;
      border-radius: 5px; 
      padding: 20px;
      width: 100%;
      max-height: 800px;
      max-width: 600px;

    }

    .imgrdvv{
      width: 100%;
    }
    .carteggle iframe {
      height: 75vw;
    }
    /* fin page contact */
}

/*  fin media queries*/