html{
  background-color: rgba(247, 237, 224, .40);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  height: 100vh;
  width: 100%;
  /*background-color: rgba(247, 237, 224, .40);*/
}

.navbar {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contLogo {
  height: 100%;
  /* juste pour aligner le logo */
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo {
  margin-left: 80px;
  width: 140px;
}

.contItems {
  font-size: 22px;
  height: 100%;
  display: flex;
  align-items: center;
}

.items {
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.items:hover {
  color: #e74bf5;
}


.logoMenuImg {
  width: 30px;
  display: none;
  position: absolute;
  right: 20px;
  top: 13px;

}

/* début page index */

.main-title{
  height: 10em;
  width: 100%;
  background: url('../img/vegetables.jpg') fixed center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-main-box {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.main-parag-left{
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2em;
  width: 70%;
  align-self: start;
}

.main-parag-right{
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2em;
  width: 30%;
  align-self: start;
}
.main-image {
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

.main-parag-left-text {
  min-width: 70%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-parag-right-text {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*background-color: rgb(244, 232, 247);*/
  background-color: rgb(223, 193, 155);
  border-radius: 10px;
  border: 1px solid #DDD;
}

.main-parag2 {
  text-align: center;
}

.main-parag-text-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.footer {
  height: 50px;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: rgb(204, 179, 109);
  padding-top: 3px;
}

.footer p {
  font-size: 0.8em;
}

/* Début page contact*/

.carousel {
  background: url('../img/agrumes.jpg') fixed center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 100%;
}

.carousel h1{
  background-color: rgba(247, 237, 224, .60);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 3.1em;
  border-radius: 20px;
}

.bloctext{
  margin: 0 auto;
}

.containergauche, .containerdroite {
  display: block;
}

.img{
  align-self: center;
}

.femme {
  -webkit-border-radius: 40%;
  border-radius: 40%;
}


.carteggle iframe{
  height: 20vw;
  display: block;
  margin: 30px auto;
  width: 400px;
}

.carteggle{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.txt1{
  background-color: rgba(128, 128, 128, 10%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
  margin-top: 5vw;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
}

.iconimg{
  float: right;
}

input[type=text],
textarea,
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

input[type=submit] {
  background-color:rgb(136, 103, 59);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  float: right;
}

.container {
  box-sizing: border-box;
  border-radius: 5px; 
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.container h1 {
  color: #ffc800;
  width: 100%;
}

.openingTime {
  margin-top: 1em;
  border: 0.14em solid black;
  border-radius: 20px;
}

.openingTime>p {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.openingTime-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.openingTime-title p {
  margin: 0em;
}

.hours {
  margin-bottom: 16px;
}

.hours p:not(.sunday) {
  text-align: right;
}

.hours .sunday {
  text-align: center;
}

.cRed {
  color: rgba(255, 0, 0, 0.733);
}

/* Fin page Contact */

/* Début page présentation*/

.container-presentation {
  width: 80%;
  display: flex;
  margin: 50px auto;
}

.txtpresentation {
  width: 50%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  /*background: rgb(244, 232, 247);*/
  background: rgb(223, 193, 155);
  border: black solid 2px;
  border-radius: 20px;
  padding: 0.7vw;
}

.txtpresentation p {
  text-align:justify ;
}

.container-pres{
  width: 80%;
  display: flex;
  margin: 50px auto;
}


.gauche{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  /*background: rgb(244, 232, 247);*/
  background: rgb(223, 193, 155);
  border: black solid 2px;
  border-radius: 20px;
  padding: 0.7vw;
}

.gauche p {
  text-align:justify ;
}

.card {
  width: 400px; 
  margin: 0px auto; 
  background-color: white; 
  box-shadow: 0px 5px 20px #999; 
  display: block;
  border-radius: 50px;
}
.card-image {
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50px 50px 0 0;
}
.card-image img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.card-body {
  text-align:center;  
padding: 15px 20px; 
box-sizing: border-box; 
}

.card-excerpt p {
  text-align: justify;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 800px;
}


.image_presentation {
  height: 25em;
  width: 100%;
  background: url('../img/vegetables.jpg') fixed center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulll{
  text-align: left;
}

.txtbutton{
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.text-bas-page{
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  padding-right: 5vw;
}

.button-bas-page{
  background-color: rgb(187, 148, 96);
  border-radius: 10px;
  padding: 1em;
  text-align: center;
}

.button-bas-page:hover{
  transform: scale(1.2, 1.2);
}
/* début page Méthodes */

.methode-title{
  height: 10em;
  width: 100%;
  background: url('../img/vegetables.jpg') fixed center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.methode-main-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.methode-parag {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2em;
}

.methode-image {
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

#img1 {
  background-image: url('../img/casserole.jpg');
}

#img2 {
  background-image: url('../img/vegetables-2.jpg');
}

#img3 {
  background-image: url('../img/vegetables.jpg');
}

.methode-parag-text {
  min-width: 60%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.methode-parag-text-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.parag-text-par {
  text-align: justify;
}

.next-button {
  background-color: rgb(187, 148, 96);
  border-radius: 40px;
  font-size: 2rem;
  padding: 1em 2em 1em 2em;
  margin-bottom: 1em;
}

.next-button:hover {
  transform: scale(1.2, 1.2);
}

.next-sentence {
  font-size: 2rem;
}

.savoir-plus {
  padding: 10px;
}

.competence-button {
  background-color: rgb(187, 148, 96);
  border-radius: 10px;
  padding: 1em;
  display: inline;
}

.methode-button-plus {
  background-color: rgb(187, 148, 96);
  border-radius: 10px;
  align-self: flex-end;
  padding: 0.6em;
}

.methode-button-plus:hover {
  transform: scale(1.2, 1.2);
}

a {
  text-decoration: none;
  color:black;
}

.separation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8em;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.pepper-img {
  height: auto;
}

.pepper-img img {
  height: 4em;
}

/* fin page Méthodes */



/* début page Tarifs */

.tarif-title {
  height: 10em;
  width: 100%;
  background: url('../img/vegetables.jpg') fixed center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarif-main-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.tarif-all-subscription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 100%;
}

.tarif-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: auto;
  padding: 2em;
  border: 2px solid black;
  /*background-color: rgb(228, 236, 218);*/
  background-color: rgb(187, 148, 96);
  border-radius: 20px;
  margin: 0.5em;
}

.tarif-month {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 0em;
}

.tarif-subscription>p {
  line-height: 0em;
}

.tarif-no-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: auto;
  border: 2px solid black;
  /*background-color: rgb(244, 232, 247);*/
  background-color: rgb(238, 218, 155);
  border-radius: 20px;
  padding: 1em;
  margin-top: 1.2em;
}

/* fin page Tarifs */



/*  début media queries*/
@media screen and (max-width: 834px) {

  /* on fait apparaitre le logo */
  .logoMenuImg {
    display: block;
  }

  /* pour ne plus display flex les éléments */
  .navbar {
    display: block;
  }

  .items:nth-child(1) {
    padding-top: 20px;
  }

  .items {
    background: #eee;
    margin-right: 0;
    padding: 10px 20px;
    display: block;
  }

  .contItems {
    display: none;
    border-top: 1px solid black;
    background: #EFEFEF;
    text-align:left;
    height: auto;
    position: relative;
    z-index: 10;
  }


  /* Classe à toggle */
  .responsive {
    display: block;
  }


  .image_presentation {
    height: 15em;
  }

  .methode-image {
    display: none;
  }

  .methode-button-plus {
    display: none;
  }

  .parag-text-par {
    font-size: 0.7em;
  }

  h2 {
    font-size: 1em;
  }

  .index-main-box {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .main-parag-left{
    margin: 0 auto;
    width: 95%;
  }
  .main-parag-right{
    margin: 0 auto;
    width: 95%;
    height: auto;
  }

  .main-parag-left-text {
    padding: 0
  }

  .main-parag-right-text {
    padding: 5px;
  }

  .main-parag2 {
    margin: 0 auto;
  }
  
  .methode-main-box {
    width: 85%;
  }

  .methode-parag {
    margin: 0 auto;
  }

  .methode-parag-text {
    padding: 0
  }

  .next-sentence {
    font-size: 1.2rem;
  }

  .next-button {
    background-color: rgb(247,237,224);
    border-radius: 20px;
    font-size: 1.2rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .pepper-img img {
    height: 2em;
  }

  .separation {
    height: 2em;
    width: 80%;
    margin: 0;
  }

  /* debut page contact */

  .txt1 {
      background-color: rgba(128, 128, 128, 10%);
      margin-left: auto;
      margin-right: auto;
      margin-top: 3vw;
      width: 90%;
      display: flex;
      flex-direction: column;
    }

    .container {
      box-sizing: border-box;
      border-radius: 5px; 
      padding: 20px;
      width: 100%;
      max-height: 800px;
      max-width: 600px;
    }

    .imgrdvv{
      width: 100%;
    }
    .carteggle iframe {
      height: 75vw;
      width: 90%;
    }
    /* fin page contact */

    /* début page qui suis je ? */
    .container-presentation{
      flex-direction: column;
      width: 100%;
    }

    .txtpresentation{
      width: 95%;
      padding: 0;
    }

    .card{
      width: 100%;
      margin-top: 1em;
    }

    .separation{
      width: 100%;
    }

    .container-pres{
      flex-direction: column;
      width: 95%;
    }
    
    .gauche{
      width: 100%;
      padding: 0;
    }
    .text-bas-page{

      font-size: 90%;
    
    }

    .competence-button {
      display: block;
    }

    .button-bas-page{
      width: 90%;
    }
    /* fin page qui suis je ? */


    /*  fin media queries*/
}

