.container {
    width: 100%;
    margin: 0 auto;
  }

  header .container {
    position: relative;
  }
  /* ---------------------------------------------------- */
/*		top 	header
/* ---------------------------------------------------- */

#logo {
    height: 80px;
    padding: 20px 0;
  }

  #logo a {
    display: block;
  }
  

  #nav {
    background-color: #000;
    height: 40px;
  }
  

  #navigation {
    float: left;
    display: inline;
    width: 740px;
    position: relative;
  }

  #navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #navigation ul li {
    float: left;
  }

  #navigation ul li ul {
    display: none;
  }

  #navigation ul li a {
    color: #FFF;
    text-decoration: none;
    line-height: 40px;
    font-size: 0.9em;
    padding: 0 10px;
    display: block;
  }


/* début page Méthodes */

.methode-title {
  height: 10em;
  width: 100%;
  background-image: url('img/vegetables.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.methode-main-box {
  box-sizing: border-box;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.methode-parag {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2em;
}

.methode-image1 {
  background-image: url('img/casserole.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

.methode-image2 {
  background-image: url('img/vegetables-2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

.methode-image3 {
  background-image: url('img/vegetables.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

.methode-parag-text {
   min-width: 60%;
   padding: 2em;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.methode-parag-text-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.methode-button {
  background-color: rgb(238, 174, 227);
  border-radius: 40px;
  font-size: 2rem;
  padding-left: 2em;
  padding-right: 2em;
}

.methode-sentence {
  font-size: 2rem;
}

.methode-button-plus {
  background-color: rgb(238, 174, 227);
  border-radius: 10px;
  align-self: flex-end;
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (max-width: 834px) { 
  .methode-image1 { 
    display: none; 
  }
  .methode-image2 { 
    display: none; 
  }
  .methode-image3 { 
    display: none; 
  }
  .methode-button-plus { 
    display: none; 
  }
  .parag-text-par {
    font-size: 0.7em;
  }
  h2 {
    font-size: 1em;
  }
  .methode-main-box {
    width: 100%;
  }
  .methode-parag {
    margin: 0 auto;
  }
  .methode-parag-text {
    padding: 0
  }
  .methode-sentence {
    font-size: 1.2rem;
  }
  .methode-button {
    background-color: rgb(238, 174, 227);
    border-radius: 20px;
    font-size: 1.2rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

/* fin page Méthodes */