body {
    margin: 0;
}

p {
    font-size: .9em;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 10px 0 0 0;
    margin: 0;
    color: #555;
    font-family: 'Ropa Sans', sans-serif;
  }

.container {
    width: 80%;
    margin: 0 auto;
    height: 80px;
  }

  .container_ext {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #444;
  }

  .container_int {
    width: 65%;
    margin: 0 auto;
    height: 800px;
    border: 1px solid #444;
  }

  header .container {
    position: relative;
  }
  /* ---------------------------------------------------- */
/*		top 	header
/* ---------------------------------------------------- */

#logo {
    height: 80px;
  }

  #logo a {
    display: block;
  }
  

  #nav {
    background-color: #FFF;
    height: 120px;
  }
  

  #navigation {
    display: inline;
    width: 80%;
    position: relative;
  }

  #navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #navigation ul li {
    float: right;
    padding: 0 20px;
  }

  #navigation ul li ul {
    display: none;
  }

  #navigation ul li a {
    color: #000;
    text-decoration: none;
    line-height: 40px;
    font-size: 0.9em;
    padding: 0 10px;
    display: block;
    text-transform: uppercase;
  }

  #presentation {
    width: 100%;
    height: 300px;
    background-color: #555;

  }

  .footer {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    border: 1px solid #444;
  }


/* début page Méthodes */

.methode-title {
  height: 10em;
  width: 100%;
  background-image: url('img/vegetables.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.methode-main-box {
  box-sizing: border-box;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.methode-parag {
  display: flex;
  flex-direction: row;
  height: 300px;
  margin: 2em;
}

.methode-image1 {
  background-image: url('img/casserole.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

.methode-image2 {
  background-image: url('img/vegetables-2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

.methode-image3 {
  background-image: url('img/vegetables.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  min-width: 30%;
  border-radius: 40px;
}

.methode-parag-text {
   min-width: 60%;
   padding: 2em;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.methode-parag-text-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.methode-button {
  background-color: rgb(238, 174, 227);
  border-radius: 40px;
  font-size: 2rem;
  padding-left: 2em;
  padding-right: 2em;
}

.methode-sentence {
  font-size: 2rem;
}

.methode-button-plus {
  background-color: rgb(238, 174, 227);
  border-radius: 10px;
  align-self: flex-end;
  padding-left: 1em;
  padding-right: 1em;
}



/* fin page Méthodes */
